<div class="frame5"><div class="homer1"></div></div>
<div class="homer">Homer</div>
<div class="donTHaveAnAccountSignUpForgotY">
  <p class="labelWrapper">
    <span class="label">Don’t have an account?</span>
    <a class="label2" href="https://Register" target="_blank" rel="noreferrer">Sign up</a>
  </p>
  <div class="textBlock">
    <p class="labelWrapper2">
      <a class="label3" href="https://forgot" target="_blank" rel="noreferrer">Forgot your password?</a>
    </p>
  </div>
</div>
<div class="welcomeBackSignIn">
  <div class="textBlock2">Welcome Back,</div>
  <div class="textBlock3">Sign in</div>
</div>
<div class="frame2"><div class="username">Username</div></div>
<div class="frame6"><div class="password">Password</div></div>
<div class="frame8"><div class="login">Login</div></div>
