:host,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  flex-shrink: 0;
  text-decoration: none;
  min-width: 0;
  overflow-wrap: anywhere;
}

:host,
:not(span, a, ul, ol, li, p) {
  display: flex;
}

ul,
ol {
  text-indent: 0;
  padding-inline-start: 1.5em;
}

p:empty::before {
  content: '';
  display: inline-block;
}

img {
  object-fit: contain;
}

svg {
  overflow: visible;
}

:host {
  position: relative;
  width: 1512px;
  height: 982px;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f7f4f4;
  overflow: hidden;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.frame5 {
  position: absolute;
  left: 0;
  top: 0;
  width: 1512px;
  height: 982px;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
  backdrop-filter: blur(5px);
}
.homer1 {
  position: absolute;
  left: 28px;
  top: 17px;
  width: 151px;
  height: 223px;
  background-image: url('/assets/homer1.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.frame9 {
  position: absolute;
  left: 568px;
  top: 416px;
  width: 411px;
  height: 66px;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px 10px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 6px;
}
.username {
  color: #000;
  font-size: 28px;
  font-family: Arbutus Slab, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: 388px;
  height: min-content;
  flex-direction: column;
}
.homer {
  color: #1c2183;
  font-size: 80px;
  line-height: 114.3391%;
  font-weight: bold;
  font-family: Amiri, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 191px;
  top: 80px;
  width: 283px;
  height: 92px;
  justify-content: center;
  flex-direction: column;
}
.welcomeRegisterYourAccount {
  position: absolute;
  left: 582px;
  top: 186px;
  width: 411px;
  height: 107px;
  flex-direction: column;
}
.textBlock {
  color: #000;
  font-size: 43px;
  font-family: Arbutus Slab, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
}
.labelWrapper {
  font-size: 37px;
  font-family: Arbutus Slab, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #000;
  font-size: 37px;
  font-family: Arbutus Slab, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.frame8 {
  position: absolute;
  left: 677px;
  top: 735px;
  width: 157px;
  height: 61px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  outline: solid 6px #1c2183;
  outline-offset: -6px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.register {
  color: #000;
  font-size: 27px;
  font-family: Arbutus Slab, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: 145px;
  height: 22px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.frame92 {
  position: absolute;
  left: 568px;
  top: 514px;
  width: 411px;
  height: 66px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 6px;
}
.password {
  color: #000;
  font-size: 28px;
  font-family: Arbutus Slab, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: 388px;
  height: min-content;
  flex-direction: column;
}
.frame6 {
  position: absolute;
  left: 568px;
  top: 618px;
  width: 411px;
  height: 65px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 6px;
}
.confirmPassword {
  color: #000;
  font-size: 28px;
  font-family: Arbutus Slab, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: 388px;
  height: min-content;
  flex-direction: column;
}
.frame10 {
  position: absolute;
  left: 568px;
  top: 310px;
  width: 411px;
  height: 65px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 6px;
}
.iDNumber {
  color: #000;
  font-size: 28px;
  font-family: Arbutus Slab, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: 388px;
  height: min-content;
  flex-direction: column;
}
