<p>register works!</p>
<div class="frame5">
    <div class="homer1"></div>
    <div class="frame9"><div class="username">Username</div></div>
  </div>
  <div class="homer">Homer</div>
  <div class="welcomeRegisterYourAccount">
    <div class="textBlock">Welcome</div>
    <div class="textBlock2">
      <p class="labelWrapper"><span class="label">Register Your Account</span></p>
    </div>
  </div>
  <div class="frame8"><div class="register">Register</div></div>
  <div class="frame92"><div class="password">Password</div></div>
  <div class="frame6"><div class="confirmPassword">Confirm Password</div></div>
  <div class="frame10"><div class="iDNumber">ID Number</div></div>
  